
nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
}


#logoVideo{
    width: 100px;
    object-fit: cover;    
}
  

.links{
    text-align: center;
    justify-content: space-between;
    padding-left: 100px;
    gap: 10px;
}

#home{
    background-color: rgb(255, 255, 255);
    font-family: 'Georgia', serif;
    padding: 20px;
}

#home img{
     width: 100px;
     border: 5px;
     border-radius: 10px;
     justify-content: right;
     
}

#bio{
    background-color: rgb(214, 215, 216);
}

#about{

}

